.navbar-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px -6px #222; 
    background-color: wheat;
    border-radius: 10px;
    padding: 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
