.navbar-wrapper {
  position: sticky;
  background-color: #252728;
  box-shadow: 15px 5px 5px #7d7757
}

.navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-link {
  padding: 10px;
  margin: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  font-size: 1.5rem;
  text-decoration: 0;
  text-align: center;
  color: #79826a;
}
a:hover{
    color: #e5d2b0;
}